<app-nav-bar></app-nav-bar>
<h2 class="text-center">Order Confirmation</h2>

      <h4 class="mb-1"><Strong>Items in Cart</Strong></h4>
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush" *ngFor="let itemCart of summaryItemResponse">
          <li class="list-group-item"><Strong>{{itemCart.selected_item}} </Strong>  -   {{itemCart.item_price | currency:'INR':true}}</li>
        </ul>
      </div>
      <br>

      <h4 class="mb-1"><Strong>Address for shipping</Strong></h4>
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><Strong>First Name </Strong> - {{summaryAddress.firstName}}</li>
          <li class="list-group-item"><Strong>Last Name </Strong> - {{summaryAddress.lastName}}</li>
          <li class="list-group-item"><Strong>Email </Strong> - {{summaryAddress.email}}</li>
          <li class="list-group-item"><Strong>Address </Strong> - {{summaryAddress.address}}</li>
          <li class="list-group-item"><Strong>State </Strong> - {{summaryAddress.state}}</li>
          <li class="list-group-item"><Strong>Country </Strong> - {{summaryAddress.country}}</li>
          <li class="list-group-item"><Strong>Zip </Strong> - {{summaryAddress.zip}}</li>
        </ul>
      </div> 
      <br>


  <button class="btn btn-success" (click)="OrderProceed()">Order Now</button>
 



