<app-nav-bar></app-nav-bar>
<h2 class="text-center">Summary</h2>
<!-- 
<h5 class="mb-4">Review Address before proceeding</h5>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Address Saved</div>
  <div class="card-body">
    <h5 class="card-title"><strong>{{summaryAdress.firstName}}  {{summaryAdress.lastName}}</strong></h5>
    <p class="card-text">Address: {{summaryAdress.address}}</p>
    <p class="card-text">Country: {{summaryAdress.country}}</p>
    <p class="card-text">State: {{summaryAdress.state}}</p>
    <p class="card-text">ZIP: {{summaryAdress.zip}}</p>
    <p class="card-text">Email: {{summaryAdress.email}}</p>
  </div>
</div>  -->

 <!-- Card -->
 <div class="mb-3">
    <div class="pt-4 wish-list">

      <h5 class="mb-4">Items in Cart</h5>
      <div class="row mb-4"  *ngFor="let itemCart of summaryItem" >
        <div class="col-md-5 col-lg-3 col-xl-3">
          <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
            <img class="img-fluid w-100"
            src="{{itemCart.image}}" alt="Sample">
          </div>
        </div>
        <div class="col-md-7 col-lg-9 col-xl-9" >
          <div>
            <div class="d-flex justify-content-between">
              <div>
                <h5>{{itemCart.productName}}</h5>
                <p class="mb-3 text-muted text-uppercase small">{{itemCart.descriptions}}</p>
              </div>
              <div>
                <small id="passwordHelpBlock" class="form-text text-muted text-center">
                  (Note, 1 piece)
                </small>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                    class="fas fa-trash-alt mr-1"></i> Remove item </a>
              </div>
              <p><span><strong id="summary">{{itemCart.price | currency:'INR':true }}</strong></span></p>
            </div>
          </div>
        </div>
      </div>
    
  </div>


  <button class="btn btn-success" (click)="OrderProceed()">Order Now</button>
 



