<app-nav-bar></app-nav-bar>

<div class="toast d-flex align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      Order History
    </div>
    <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Order Number</th>
        <th scope="col">Ordered Item</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Ordered Date</th>
        <th scope="col">User ID</th>
        <th scope="col">Delivery Status</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let orHis of orderHistRes"> 
        <td>{{orHis.orderID}}</td>
        <td>{{orHis.orderedItem}}</td>
        <td>{{orHis.totalAmount}}</td>
        <td>{{orHis.orderDate}}</td>
        <td>{{orHis.user_ID}}</td>
        <td>Delivered</td>
      </tr>
    </tbody>
  </table>
  
